{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
 <!-- класс py-5 создает отступы сверху и снизу блока -->

      <div class="container py-5">
        <h1>{{ group.title }}</h1>
        <p>
          {{ group.description }}
        </p>
        {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text }} <br>
          </p>

          <a href="{% url 'posts:post_detail' post_id=post.id %}">подробная информация </a> <br>
          {% if post.group %}
          <a href="{% url 'posts:group_lists' post.group.slug %}">все записи группы</a>
          {% endif %}

        </article>

        <!-- под последним постом нет линии -->
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/paginator.html' %}
      </div>


{% endblock %}